PORT=
MONGODB_URI=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_NAME=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
STRIPE_SECRET_KEY=
JWT_EXPIRES_IN=

SMTP_HOST=
SMTP_PORT=
# SMTP_USER=anh666666anh@gmail.com
SMTP_USER=
SMTP_PASS=
# SMTP_PASS=gtga hgud gzxo xtql
FRONTEND_URL=
ADMIN_URL=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Facebook OAuth
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

# MoMo
MOMO_PARTNER_CODE=
MOMO_ACCESS_KEY=
MOMO_SECRET_KEY=

# VNPay
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=

# Backend URL (dùng cho MoMo IPN, VNPay callback)
BACKEND_URL= 

# Admin email (nhận email hỗ trợ)
ADMIN_EMAIL=

# refactor
NODE_ENV=dev
LOG_LEVEL=debug
SERVICE_NAME=electronics-backend

# GHN shipping provider
V3_MONGODB_URI= 
GHN_TOKEN=
GHN_CLIENT_ID=

# gemini api key
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
