@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

@layer base {
    html {
        font-size: 17px;
    }
    @media (min-width: 640px) {
        html {
            font-size: 18px;
        }
    }
}

a.active hr {
    display: block;
}

* {
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    display: none;
}


@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}
@import './styles/animations.css';
